body {
    color: #fff;  
    background-image: linear-gradient(110deg, #20262f 0, #22262f 10%, #23252f 20%, #25252e 30%, #27242e 40%, #28242d 50%, #29242c 60%, #2b232b 70%, #2c232a 80%, #2d2329 90%, #2e2328 100%);
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}

a {
    color:#fff;
    text-decoration: none;
}

.container {
    width: 95%;
    margin: auto;
}

.news-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 10px 0;
}

.news-cards img {
    width: 50%;
    height: 180px;
    border: 1px solid white;
}

.news-cards h3 {
    font-size: 30px;
    margin: 10px 0;
    
}

.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
}

.news-cards a {
   padding: 10px 0;
   color: #f2f2f2;
   text-transform: uppercase;
   display: inline-block;
}

.news-cards a:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .news-cards {
        grid-template-columns: 1fr;
    }

    .news-cards img {
        height: 250px;
    }
}